**/.DS_Store
**/.vscode/
**/.idea/
**/.nyc_output/
**/node_modules/
**/sessions/
**/uploads/
**/yarn-error.log
**/npm-debug.log
**/.sonar/
**/doc/
**/coverage/
**/.scannerwork/
**/mysql/
**/redis/
**/.cache/
**/.config/
**/.node-gyp/
**/.npm/
**/.yarn/
**/build/
**/config/development.json
**/config/staging.json
**/config/production.json
**/config/docker.json
**/config/env.json
**/.env
**/.env.*
**/*.out
**/.pm2
**/.tern-project
**/migrations/999-drop-all-tables.js
**/migrations/dump*.sql
**/.bash_history
**/tests2/
**/dist/